/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/* STYLE SHEET  */


/*  ---  SECTION 1  ---  */



.Section1 {
    font-family: 'Montserrat', sans-serif;
    background-color: #C90B5C;
    position: relative;
    width: 100%;
    overflow: hidden;
}

header {
    width: 100%;
    padding: 0px 80px;
}

.logo{
    float: left;
}

.menu {
    font-family: 'Montserrat', sans-serif;
    float: right;
    top: 50px;

}

header ul li {
    display: inline-block;
    font-weight: 300;
    margin-top: 25px;
    
}

header ul li a {
    color: white;
    font-size: 18px;
    margin-bottom: 10;
    margin: 0 20px;
    font-weight: 100px;
    letter-spacing: 1px;

}

.MainText1 {
    color: white;
    max-width:100%;
    margin: 200px 80px 0px 40;
    
}

.MainText1 h1 {
    font-size: 30px;
    padding: 0 550 0 0;
}

.MainText1 h1 p {
    font-size: 15px;
}

.MainText1.b  {
    padding: 0;
}

.MainText1.ap {
    padding: 500 30;
}

.MainText1.gp {
    padding: 500 30;
}

.DivCart{
    background-color: #C90B5C ;
    max-width: 100%;
    margin: 0 0 0 700;
}

.carteira {
    padding: 0 0 0 0;
    background-color: #C90B5C ;
}

.seta {
    position: static;
    padding: 0 650;
}

/*  ---  SECTION 2  ---  */

.Section2 {
    font-family: 'Montserrat', sans-serif;
}

.video {
    padding: 0 90;
}

.MainText2 {
    display: inline-table;

}

.MainText2 h2 {
    color: #C90B5C ;
    font-size: 50;
    font-weight: 800;
    padding: 0 200;
}

.MainText2 p {
    font-weight: 600;
    font-size: 25;
    margin: 20 100;
    letter-spacing: 1;
}

ul.PagLogos li {
    display: inline-block;
    padding: 30 130 0 130;
    margin: 5 0 0 0;
}

ul.PagNomes li {
    display: inline-block;
    font-weight: 600;
    padding: 0 110 30 110;
    margin: 0 0 0 0;
}

.SaibaMais {
    min-width: 100%;
    margin: 20 0;
}

.SaibaMais a {
    color: #C90B5C;
    padding: 0 610;
    border-radius: 0px;
}

/*  ---  WAVE  ---  */

.wave{
   position: static;
   padding: 20 0 80;

}

/*  ---  SECTION 3  ---  */

.Section3 {
    font-family: 'Montserrat', sans-serif;
    margin: 0 50 0 58;
}

.MainText3 h3 {
    color: #C90B5C ;
    font: mont;
    font-size: 50;
    font-weight: 700;
}

.MainText3 p {
    font-size: 30;
    font-weight: 500;
    padding: 10 0;
}

.Section3 ul.liberais  {
    padding: 0 820 0 0;
}

.Section3 ul.ong {
    padding: 0 420 0 420;
}

.Section3 ul.mei {
    padding: 0 0 0 820;
}

